<mat-toolbar class="full-width">
  <mat-toolbar-row>
      <span>Algorithms For Metallurgical Processes Control</span>
      <span class="example-spacer"></span>
      <button mat-fab color="primary" (click)="csvInput.click()">
        <mat-icon class="example-icon" aria-hidden="false">cloud_upload</mat-icon>
      </button>
      <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="csvInputChange($event)" accept=".csv"/>
  </mat-toolbar-row>
</mat-toolbar>

<div class="dark-background full-width">
  <mat-form-field class="less-than-half-width selector" *ngIf="readLocalStorageValue('url')">
    <mat-select placeholder="Prędkość odlewania">
      <mat-option (onSelectionChange)="changeSpeed($event)" *ngFor="let speed of speeds" [value]="speed.value">
        {{ speed.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="less-than-half-width selector" *ngIf="readLocalStorageValue('url')">
    <mat-select placeholder="Parametr">
      <mat-option (onSelectionChange)="changeParameter($event)" *ngFor="let parameter of displayedColumns" [value]="parameter">
        {{ parameter }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <canvas id="canvas">{{ chart }}</canvas>
  </mat-grid-tile>

  <mat-grid-tile>
    <table style="width:100%">
      <tr>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Mediana</th>
        <th>Średnia</th>
      </tr>
      <tr>
        <td>{{min}}</td>
        <td>{{max}}</td>
        <td>{{median}}</td>
        <td>{{average}}</td>
      </tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>






