<mat-toolbar class="full-width">

  <mat-toolbar-row>

    <span>Humidity Observer 1.0</span>

    <button mat-button [matMenuTriggerFor]="stationMenuPolypody">
      <mat-icon>cached</mat-icon>
      Polypody
    </button>

    <mat-menu #stationMenuPolypody="matMenu">
      <button mat-menu-item (click)="getHumidityForPolypody()">Humidity</button>
      <button mat-menu-item (click)="getTemperatureForPolypody()">Temperature</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="stationMenuZamioculcas">
      <mat-icon>cached</mat-icon>
      Zamioculcas
    </button>

    <mat-menu #stationMenuZamioculcas="matMenu">
      <button mat-menu-item (click)="getHumidityForZamioculcas()">Humidity</button>
      <button mat-menu-item (click)="getTemperatureForZamioculcas()">Temperature</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>


<div class="chart-wrapper">
  <canvas baseChart #canvasElement
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
