.full-width {
  width: 100%;
}

.less-than-half-width {
  width: 40%;
}

.dark-background {
  background-color: dimgrey;
}

.selector {
  margin: 10px;
}

.table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-grid-tile {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
